@use "../../config/import";

.admin_form {
  padding: 48px;
  margin-bottom: 64px;
  width:700px;
  height: 800px;
  display: flex;
  flex-direction: column;
  background: white  padding-box;
  box-shadow: 24px 32px 36px #EAEBF5;
  border-radius: 6px;
  gap: 8px 0;
}
.error{
  color: import.$error-color;
}

.form_control_box {
  width:600px;
  margin-bottom: 32px;
}

.form_check_box {
  width:600px;
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.normal_drag_zone {
  width: 250px;
  height:180px;
  border:1px dotted #888;
  margin-right: 32px;
}

.active_drag_zone {
  width: 250px;
  height:180px;
  border:1px solid import.$strong-color;
  margin-right: 32px;
  transition: border .5s ease-in-out;
  background-color: import.$menu-color;
  opacity: 0.2;
}

.file_read_area {
  display: flex;
}

.submit_button{
  margin:32px 0;
width: 96px;
}