@use "../../config/import";
.index_wrapper {
  display: flex;
  justify-content: space-between;
}
.button_area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.load_more{
  font-size:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 54px;
  span{
    margin:6px;
  }
}
.no_more{
  font-size:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: import.$gray-color;
}