  .attribute_area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    .date_area {
      align-items: flex-end;
    }
    .tags_area {
      display: flex;
      align-items: flex-end;
    }
  }
