@use "../../config/import";

.profile_wrapper {
  .my_name_text {
    @include import.font-size(lg);
    margin-bottom: 48px;
    span {
      @include import.marker();
    }
  }
  h4 {
    font: 800 36px Spartan;
    color: import.$strong-color;
    margin-bottom: 64px;
  }
  h5 {
    font: 800 24px Spartan;
    color: import.$strong-color;
    margin-bottom: 12px;
  }

  .container_box {
    padding-top: 48px;
    padding-bottom: 48px;
    width: 70vw;
    border-top: import.$menu-color solid 1px;
  }
  p {
    line-height: 250%;
    margin-bottom: 48px;
  }
  li {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
  }

  .hobby_icon {
    margin-right: 18px;
  }
}
/*breakpoint============================================================*/
//~639px スマホ(小〜中)
@include import.media-breakpoint(xs){
  .profile_wrapper {
    p,
    li {
      font-size: 16px;
    }
  }
}

/*breakpoint============================================================*/
//768px~　PC(小)orタブレット(中)
@include import.media-breakpoint(md){
  .profile_wrapper {
    p,
    li {
      @include import.font-size(md);
    }
  }
}
