@use '../config/import';

//全体設定、フォントと余白消去
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Maru Gothic ProN W4', 'Hiragino Sans', Meiryo,
    sans-serif;
}
//各ページのタイトル部分
.page_title {
  color: import.$strong-color;
  font-weight: 800;
  font-family: 'Helvetica Neue', 'Hiragino Maru Gothic ProN W4', sans-serif;
}

// メインコンテンツ＋サイドメニューのラッパー
.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

//各ページのタグ設定
.tags {
  text-align: center;
  background: import.$item-color;
  margin-right: 6px;
  &:hover {
    background-color: import.$item-active-color;
  }
}
.tag_text {
  color: #fff;
  margin: 0 auto;
}
.date_text {
  text-align: right;
  font-family: Roboto, 'Hiragino Maru Gothic ProN W4', sans-serif;
  color: import.$gray-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

.markdown-body {
  @include import.font-size(md);
  line-height: 250%;
  padding-bottom: 48px;
  p {
    font-family: 'Hiragino Maru Gothic ProN W4', sans-serif;
    @include import.font-size(md);
    line-height: 2.5;
  }
  strong {
    font-family: 'Hiragino Maru Gothic ProN W6', sans-serif;
    @include import.marker();
  }
}

/*breakpoint============================================================*/
//~639px スマホ(小〜中)
@include import.media-breakpoint(xs) {
  //各ページのコンテンツエリア
  .contents_area {
    width: 100%;
  }

  .side_area {
    display: none;
  }
  .page_title {
    margin-bottom: 64px; //breadcrumbsと合わせる
    font-size: 30px;
  }

  .tags {
    height: 24px;
    line-height: 24px;
    border-radius: 8px;
    padding: 0 8px;
    a {
      font-size: 12px;
    }
  }

  .date_text {
    font-size: 12px;
  }
}

/*breakpoint============================================================*/
//640px~ スマホ(大)orタブレット(小)
@include import.media-breakpoint(sm) {
}

/*breakpoint============================================================*/
//768px~　PC(小)orタブレット(中)
@include import.media-breakpoint(md) {
}

/*breakpoint============================================================*/
//1024px~ タブレット(大)orPC(中)
@include import.media-breakpoint(lg) {
  //各ページのコンテンツエリア
  .contents_area {
    width: 70vw;
  }

  .side_area {
    display: block;
    width: 22vw;
  }
  .page_title {
    margin-bottom: 96px; //breadcrumbsと合わせる
    font-size: 36px;
  }
}

/*breakpoint============================================================*/
//1280px~ PC(大)
@include import.media-breakpoint(xl) {
  .date_text {
    font-size: 16px;
  }
  .tags {
    height: 28px;
    line-height: 28px;
    border-radius: 10px;
    padding: 0 12px;
    a {
      @include import.font-size(sm);
    }
  }
}

/*breakpoint============================================================*/
//1536px~ PC(特大)
@include import.media-breakpoint(xl) {
}
