@use "../config/import";

//全体設定、フォントと余白消去
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Maru Gothic ProN W4', 'Hiragino Sans', Meiryo,
  sans-serif;
}
//各ページのタイトル部分
.page_title {
  color: import.$strong-color;
  font-weight: 800;
  font-family: Spartan, sans-serif;

}

//各ページのタグ設定
.tags {
  text-align: center;
  background: import.$button-color;
  margin-right: 6px;
  &:hover {
    background-color: import.$button-active-color;
  }
}
.tag_text {
  color: #fff;
  margin: 0 auto;
}
.date_text {
  text-align: right;
  font-family: Roboto sans-serif;
  color: import.$gray-color;
}

.button {
  font-weight: 800;
  @include import.font-size(sm);
  font-family:Spartan, sans-serif;
  text-align: center;
  color: white;
  background-color: import.$button-color;
  box-shadow: 4px 4px 0 #00000029;
  border-radius: 22px;
  line-height: 250%;
  &:hover {
    background-color:  import.$button-active-color;
  }
};

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.markdown-body {
  @include import.font-size(md);
  line-height: 250%;
  padding-bottom: 48px;
  p {
    font-family: 'Hiragino Maru Gothic ProN W4', sans-serif;
    @include import.font-size(md);
  }
  strong {
    font-family: 'Hiragino Maru Gothic ProN W6', sans-serif;
    @include import.marker();
  }
}

/*breakpoint============================================================*/
//~639px スマホ(小〜中)
@include import.media-breakpoint(xs){
  //各ページのコンテンツエリア
  .contents_area {
    width: 100vw;
  }

  .side_area {
    display: none;
  }
  .page_title{
    margin-bottom: 64px;//breadcrumbsと合わせる
    font-size:  30px;
  }

  .tags{
    height: 24px;
    line-height: 24px;
    border-radius: 8px;
    padding: 0 8px;
    a{
      font-size: 14px;
    }
  }

  .date_text {
    font-size: 14px;
  }
}

/*breakpoint============================================================*/
//640px~ スマホ(大)orタブレット(小)
@include import.media-breakpoint(sm){

}

/*breakpoint============================================================*/
//768px~　PC(小)orタブレット(中)
@include import.media-breakpoint(md){

}

/*breakpoint============================================================*/
//1024px~ タブレット(大)orPC(中)
@include import.media-breakpoint(lg){

  //各ページのコンテンツエリア
  .contents_area {
    width: 70vw;
  }

  .side_area {
    display: block;
    width: 22vw;
  }
  .page_title{
    margin-bottom: 96px;//breadcrumbsと合わせる
    font-size:  36px;
  }
}

/*breakpoint============================================================*/
//1280px~ PC(大)
@include import.media-breakpoint(xl){
  .date_text {
    font-size: 16px;
  }
  .tags{
    height: 28px;
    line-height: 28px;
    border-radius: 10px;
    padding: 0 12px;
    a{
      @include import.font-size(sm);
    }
  }
}

/*breakpoint============================================================*/
//1536px~ PC(特大)
@include import.media-breakpoint(xl) {

}



