@use "../../config/import";
//記事一覧エリア
.articles_area {
  border-top: solid 1px;
  border-color: import.$menu-color;
  padding-top: 24px;
  display: flex;
}

//記事サムネイルエリア
.thumbnail_area {
  flex-shrink: 0;
  position: relative;
  width: 200px;
  height: 200px;
  margin-right: 24px;
  margin-bottom: 48px;
  &:hover {
    opacity: 0.8;
  }
}

//記事概要エリア
.summary_area {
  width: 100%;
  //記事タイトル
  .articles_title_area {
    margin-bottom: 16px;
    .articles_title_text {
      text-align: left;
      @include import.font-size(lg);
      @include import.marker();
      &:hover {
        color: import.$menu-color;
      }
    }
  }
  //記事属性エリア
  .attribute_area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    //タグエリア
    .tags_area {
      display: flex;
      width:60%;
      gap:8px 0;
      flex-wrap: wrap;
      align-items: flex-end;
    }
    //作成日・更新日エリア
    .date_area {
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  //コンテンツエリア
  .body_area {
    @include import.font-size(sm);
    margin-bottom: 48px;
    line-height: 200%;
    &:hover {
      color: import.$menu-color;
    }
  }
}
