@use "../../config/import";

//記事一覧エリア
.articles_area {
  border-top: solid 1px;
  border-color: import.$menu-color;
  padding: 24px 0;
  display: flex;
  align-items: center;
}

//記事サムネイルエリア
.thumbnail_area {
  flex-shrink: 0;
  position: relative;
  &:hover {
    opacity: 0.8;
  }
}

//記事概要エリア
.summary_area {
  width: 100%;
  display: block;
  //記事タイトル
  .articles_title_area {
    .articles_title_text {
      text-align: left;
      @include import.font-size(lg);
      @include import.marker();
      &:hover {
        color: import.$menu-color;
      }
    }
  }
  //記事属性エリア
  .attribute_area {
    display: flex;
    justify-content: space-between;
    align-items: center;

    //タグエリア
    .tags_area {
      display: flex;
      gap: 6px 0 ;
      flex-wrap: wrap;
      align-items: flex-end;
    }
    //作成日・更新日エリア
    .date_area {
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  //コンテンツエリア
  .body_area {
    @include import.font-size(sm);
    margin-bottom: 48px;
    line-height: 200%;
    &:hover {
      color: import.$menu-color;
    }
  }

}

//管理画面用
.edit_area{
  margin: 24px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 8px;
}

/*breakpoint============================================================*/
//~639px スマホ(小〜中)
@include import.media-breakpoint(xs){
  .tags_area {
    width: 45%;
  }
  .attribute_area{
    margin: 16px 0 16 - 6px;
  }
}

/*breakpoint============================================================*/
//640px~ スマホ(大)orタブレット(小)
@include import.media-breakpoint(sm){
  .tags_area {
    width: 60%;
  }
  .thumbnail_area{
    width: 150px;
    height: 150px;
    margin-right: 24px;
  }
}

/*breakpoint============================================================*/
//768px~　PC(小)orタブレット(中)
@include import.media-breakpoint(md){
  .tags_area {
    width: 65%;
  }
}

/*breakpoint============================================================*/
//1024px~ タブレット(大)orPC(中)
@include import.media-breakpoint(lg){

  .thumbnail_area{
    width: 180px;
    height: 180px;
    margin-right: 32px;
  }
  .attribute_area{
    margin: 20px 0 20 - 6px;
  }
}

/*breakpoint============================================================*/
//1280px~ PC(大)
@include import.media-breakpoint(xl){
  .tags_area {
    width: 75%;
  }
}

/*breakpoint============================================================*/
//1536px~ PC(特大)
@include import.media-breakpoint(xxl){

}

:export {
  sm: map-get(import.$breakpoints, sm);
}