@use "../../config/import";
//ぱんくずリスト
.breadcrumbs_list {
  display: flex;
  align-items: center;
  margin: 96px 32px;
  @include import.font-size(md);
  //ぱんくずリストの各アイテム
  .breadcrumbs_item {
    //現在地（リンクなし）
    .current_text {
      color: import.$gray-color;
    }
    //過去の訪問地点（リンクあり）
    .past_text {
      color: import.$menu-color;
      &:hover {
        color: import.$strong-color;
        text-decoration: underline;
      }
    }
    //ホームアイコン
    .home_icon {
      position: relative;
      color: import.$gray-color;
      bottom: 1px;
      margin-right: 8px;
    }
    //矢印アイコン
    .chevron_icon {
      position: relative;
      color: import.$gray-color;
      bottom: 1px;
      margin: 0 8px;
    }
  }
}
