@use "../../config/import";
//タグ一覧のエリア
.tag_list_area {
  padding: 36px 24px;
  border: 3px solid black;
  border-radius: 32px;
  box-shadow: 8px 8px import.$shadow-color;
  //タグ一覧のタイトル
  .tag_list_title {
    text-align: left;
    @include import.font-size(lg);
    margin-bottom: 24px;
    //マーカー部分
    span {
      @include import.marker();
    }
  }
  //タグの格納ボックス
  .tags_box {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 2px;
  }
}
