//色に関する変数
$title-color: #109aff;
$menu-color: #35a7ea;
$strong-color: #1134f4;
$header-color: #faf9fd;
$highlight-color: #ffee56;
$gray-color: #707070;
$shadow-color: #e7e9f4;
$button-color: #4d6cdb;
$button-active-color:#7a91e8;
$error-color:#d32f2f;

//マーカーの設定
$marker: linear-gradient(transparent 60%, $highlight-color 60%);