html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

header {
  position: relative;
  max-width: 1200px;
  height: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.titleBox {
  float: left;
}

h1 {
  font: 36px RocknRoll One;
  color: #109aff;
  width: 680px;
}

p.subTitle {
  font: 24px Yusei Magic;
  color: #707070;
  width: 380px;
}

nav {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  float: right;
}

nav ul li {
  font: 22px Spartan;
  display: inline-block;
  margin-left: 20px;
  color: #35a7ea;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
