//CSS用グローバル変数設定
:root {
  //色に関する変数
  --title-color: #109aff;
  --menu-color: #35a7ea;
  --strong-color: #1134f4;
  --header-color: #faf9fd;
  --highlight-color: #ffee56;
  --gray-color: #707070;
  --shadow-color: #e7e9f4;
  --button-color: #4d6cdb;
  --button-active-color:#7a91e8;
  --white-text-color: #fff;
  --black-text-color: #000;

  //マーカーの設定
  --marker: linear-gradient(transparent 60%, var(--highlight-color) 60%);
}

//全体設定、フォントと余白消去
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Maru Gothic ProN W4', 'Hiragino Sans', Meiryo,
    sans-serif;
}

//各ページのタイトル部分
.page_title {
  color: var(--strong-color);
  font: 800 36px Spartan;
  margin-bottom: 96px;
}

//各ページのコンテンツエリア
.contents_area {
  width: 70vw;
}

.side_area {
  width: 22vw;
}

//各ページのタグ設定
.tags {
  text-align: center;
  height: 28px;
  line-height: 28px;
  background: var(--button-color);
  border-radius: 10px;
  margin-right: 6px;
  padding: 0 12px;
  &:hover {
    background-color:  var(--button-active-color);
  }
  a {
    font-size: 16px;
    color: #fff;
    margin: 0 auto;
  }
}

.date_text {
  text-align: right;
  font: 16px Roboto;
  color: var(--gray-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.bottom_breadcrumbs_area {
  margin-top: 64px;
}

.markdown-body {
  font-size: 18px;
  line-height: 250%;
  padding-bottom: 48px;
  p {
    font-family: 'Hiragino Maru Gothic ProN W4', sans-serif;
    font-size: 18px;
  }
  strong {
    font-family: 'Hiragino Maru Gothic ProN W6', sans-serif;
    background: var(--marker);
  }
}

* {
  box-sizing: border-box;
}
