$title_color: #109aff;
$menu_color: #35a7ea;
$active_color: #1134f4;
$header_footer_color: #faf9fd;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Hiragino Maru Gothic ProN, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

header {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 36px;
  padding-right: 36px;
  background-color: $header_footer_color;
  box-shadow: 0px 8px 20px #e7e9f4;

  .titleBox {
    text-align: left;

    h1 {
      font: 30px RocknRoll One;
      color: $title_color;
      width: 680px;
    }

    p {
      font: 20px Yusei Magic;
      color: #707070;
      width: 380px;
    }
  }
  nav {
    margin-left: auto;
    ul li {
      font: 18px Spartan;
      display: inline-block;
      margin-left: 60px;
      color: $menu_color;
      &:hover {
        color: $active_color;
      }
    }
  }
}

div.dot-background {
  height: 96px;
  background: url(../public/images/dot_background.png) center / cover;
}

main {
  margin: 64px 128px;
  h2 {
    color: $active_color;
    font: normal normal 800 36px Spartan;
    margin-bottom: 64px;
  }
}

.container {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: 128px;
}

footer {
  width: 100%;
  text-align: center;
  background-color: $header_footer_color;
  position: absolute;
  padding: 64px 0;
  bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
