@use "import";
.load_more_button {
  font: 800 16px Spartan;
  margin: 48px auto 64px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 160px;
  height: 60px;
  background-color: import.$button-color;
  box-shadow: 4px 4px 0px #00000029;
  border-radius: 11px;
  &:hover {
    background-color:  import.$button-active-color;
  }
  };
