@use "import";

.profile_wrapper {
  .my_name_text {
    font-size: 24px;
    margin-bottom: 48px;
    span {
      background: import.$marker;
    }
  }
  h4 {
    font: 800 36px Spartan;
    color: import.$strong-color;
    margin-bottom: 64px;
  }
  h5 {
    font: 800 24px Spartan;
    color: import.$strong-color;
    margin-bottom: 12px;
  }

  .container_box {
    padding-top: 48px;
    padding-bottom: 48px;
    width: 70vw;
    border-top: import.$menu-color solid 1px;
  }
  p {
    line-height: 250%;
    margin-bottom: 48px;
  }
  li {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
  }
  p,
  li {
    font-size: 18px;
  }
  .hobby_icon {
    margin-right: 18px;
  }
}
