//色に関する変数
$title-color: #109aff !default;
$menu-color: #35a7ea !default;
$strong-color: #1134f4 !default;
$header-color: #faf9fd !default;
$gray-color: #707070 !default;
$shadow-color: #e7e9f4 !default;
$button-color: #4d6cdb !default;
$button-active-color:#7a91e8 !default;
$light-color:#11E3F4 !default;
$error-color:#d32f2f !default;
